
.header{
    height: 95vh;
    background-color:$color-primary-light;
    background-image: linear-gradient(to right bottom,rgba($color-primary,0.5),rgba($color-primary-dark,0.8)),url(../img/quang_truong.jpg);
    background-size:cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    position: relative;

   @include respond(phone)
   {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
   }

    &__logo-box > img{
        height: 3rem;
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__heading-box{
        position: absolute;
        top: 40%;
        left: 52%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}


